body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 500px;
  margin: auto;
}

img {
  height: 500px;
}